/* Content */

#content {
    margin: auto;
    max-width: 82.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.homepage-intro-section {
    padding-left: 20vw;
    height: 70vh;
}

.homepage-intro-section h2 {
    font-size: 48pt;
    line-height: 56pt;
}

.homepage-intro-section h2 a {
    font-size: 48pt;
    font-family: "Metropolis-Bold", sans-serif;
}

.homepage-article-intro {
    padding-top: 50px;
    height: 110vh;
}

.two-column-container {
    display: flex;
    flex-wrap: nowrap;
}

.left-column-container {
    width: 50%;
}

.right-column-container {
    width: 50%;
}

.image-container {
    width: 90%
}

.text-container {
    display: relative;
    float: right;
    margin-top: -50px;
}

.text-container h2 {
    font-size: 48pt;
    line-height: 58pt;
}

.article-button a {
    font-size: 14pt;
}

@media only screen and (max-width: 700px){

    .homepage-intro-section {
        padding-left: 0;
        height: auto;
    }

    .homepage-intro-section h2 {
        font-size: 24pt;
        line-height: 28pt;
    }

    .homepage-intro-section h2 a {
        font-size: 24pt;
        font-family: "Metropolis-Bold", sans-serif;
    }

    .two-column-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .left-column-container {
        width: 100%;
    }
    
    .right-column-container {
        width: 100%;
    }
    
    .image-container {
        width: 100%
    }

    .text-container {
        display: relative;
        float: right;
        margin-top: 0;
    }
    
    .text-container h2 {
        font-size: 24pt;
        line-height: 28pt;
    }
    
    .article-button a {
        font-size: 14pt;
    }
}

/* @media only screen and (max-width: 1000px){

    .homepage-intro-section {
        padding-left: 10vw;
        height: auto;
    }

    .homepage-intro-section h2 {
        font-size: 24pt;
        line-height: 28pt;
    }

    .homepage-intro-section h2 a {
        font-size: 24pt;
        font-family: "Metropolis-Bold", sans-serif;
    }

    .two-column-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .left-column-container {
        width: 50%;
    }
    
    .right-column-container {
        width: 40%;
        padding-left: 5%;
    }
    
    .image-container {
        width: 100%
    }

    .text-container {
        display: relative;
        float: right;
        margin-top: 0;
    }
    
    .text-container h2 {
        font-size: 24pt;
        line-height: 28pt;
    }
    
    .article-button a {
        font-size: 14pt;
    }
} */


@media only screen and (min-width: 1700px) {

    #content .homepage-projects .homepage-projects-list-wrapper ul li  .homepage-hero-image{
        margin-left: 40%;
        width: 30vw;
    }

    #content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title:hover + .homepage-hero-image {
        height: 30vw;
    }

}
