body
{
    font-family: sans-serif;
    text-align: left;
    padding: 10%;
    font-weight: normal;
}
h1
{
    font-size: 32pt;
    letter-spacing: 0pt; 
    font-weight: bold;
}

a
{
    color: #d3d3d3;
    text-decoration: underline;
}

a:visited
{
    color: black;
}

a:hover
{
    color: gray;
}


h2
{
    margin-top: -16pt;
}

