body
{
    font-family: 'Avenir-Medium', sans-serif;
    margin: 0;
    padding: 0;
}

.post_page {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  z-index: 1;
}

.post_title {
  margin-bottom: -10px;
  font-size: 36pt;
  font-family: 'Avenir-Black', sans-serif;
}

.post_subtitle {
  font-weight: 100;
  font-size: 16pt;
}

.two_col_left_col {
    grid-area: left-side;
    float: right;
}

.two_col_right_col {
    grid-area: right-side;
    float: left;
}

.two_column_grid {
    display: grid;
    grid-template-areas:
    'left-side left-side left-side right-side right-side right-side'
    'left-side left-side left-side right-side right-side right-side'
    'left-side left-side left-side right-side right-side right-side'
    'left-side left-side left-side right-side right-side right-side';
    grid-gap: 5px;
}

.grid-three{
    display: grid;
    grid-template-areas:
    'left_col_three center_col_three right_col_three'
    'left_col_three center_col_three right_col_three'
    'left_col_three center_col_three right_col_three' ;

    grid-gap: 20px;
}

.left-col-three{
    grid-area: left_col_three;
}
.center-col-three{
    grid-area: center_col_three;
 }
.right-col-three{
    grid-area: right_col_three;
 }

.small_pic{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: auto;
}

.app_screenshot {
  width: 80%;
}

.post_paragraph {
  font-family: 'Avenir-Book', sans-serif;
  font-size: 16pt;
  font-weight: 100;
  line-height: 24pt;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 16pt;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: .8;
}

h2
{
    font-weight: bold;
    font-size: 36pt;
    margin-bottom: 10pt;
    width: 100%;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  height: 5vh;
  width: 100vw;
  /* background-color: blue; */
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger_menu {
  position: fixed;
  padding-left: 5%;
  padding-top: 2.5%;
  z-index: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .pop_menu {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.change .hamburger_menu {
  z-index: 100
}

.pop_menu {
  cursor: pointer;
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: 0.4s;
}

.contact_menu {
    text-align: center;
    padding-top: 30vh;
}

li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: 'Avenir-Light', sans-serif;
    line-height: 0.5;
    font-size: 14pt;
    padding: 0 20%;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF2102 ;
    transition: width .3s;
}

.link:hover::after{
    width: 100%;
    transition:width .3s;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
  margin-bottom: 50px;
  z-index: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  font-family: 'Avenir-Light';
  font-size: 16px;
}

.footer a {
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: 'Avenir-Light';
  font-size: 16px;
}

h3 {
  font-size: 20pt;
  font-family: 'Avenir-Black', sans-serif;
}


@media screen and (max-width: 700px){

  .post_page {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

}
