body
{
    margin: 0;
    padding: 0;
    background: white;
    font-family: sans-serif;
    font-weight: lighter;
    max-width: 1920px;
    margin: auto;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 10%;
  padding-bottom: 0;
  font-weight: Bold;
  font-size: 28pt;
}

#home_menu {
  height: 85vh;
}

#about_p {
  scroll-behavior: smooth;
}

.back-button {
  font-size: 15pt;
}

.two_col_left_col {
    grid-area: left-side;
    float: right;
}

.contact_menu {
    float: right;
    padding: 25vh 0;
    width: 150px;
}
.two_col_right_col {
    grid-area: right-side;
    float: left;
}

.image {
    padding: 25vh 0;
    transform: translateY(4px);
}

.two_column_grid {
    display: grid;
    grid-template-areas:
    'left-side left-side left-side right-side right-side right-side'
    'left-side left-side left-side right-side right-side right-side'
    'left-side left-side left-side right-side right-side right-side'
    'left-side left-side left-side right-side right-side right-side';
    grid-gap: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

.floating_item {
  width: 400px;
  padding-left: 15%;
  padding-right: 15%;
}

li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14pt;
    padding: 0 20%;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF2102 ;
    transition: width .3s;
}

.link:hover::after{
    width: 100%;
    transition:width .3s;
}

.title{
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;
}

.single_column {
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
}

#down_arrow {
  float: center;
  text-align: center;
  font-size: 40pt;
  font-weight: 100;
}

.vertical_shift {
  transition: 0.3s;
}

.vertical_shift:hover {
  color: #FF2102;
  /* opacity: .5; */
}

#about_p
{
    margin-top: 5px;
    font-weight: 100;
    font-size: 40pt;
    padding-top: 10%;
    padding-bottom: 10%;
}

a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

.article_preview_link:hover .prev_img {
  transform: translateY(-10px);
  opacity: .8;
}

.article_preview_link:hover .article_preview_title {
  transform: translateY(-10px);
}

.article_preview_link:hover .article_preview_subtitle {
  transform: translateY(-10px);
}

.forward-button{
    font-weight: 300;
    font-size: 10pt;
    transition: 0.2s;
}

.forward-button:hover{
    transform: translateX(2.5px);
}

.centered_title {
  font-size: 30pt;
  text-align: center;
  font-weight: 100;
}

.article_preview_title {
  text-align: left;
  font-weight: bold;
  font-size: 30pt;
  margin-top: 10px;
  transition: 0.3s;
}

.article_preview_subtitle {
  font-weight: 100;
  font-size: 15pt;
  margin-top: -30px;
  transition: 0.3s;
}

.prev_img {
  transition: 0.5s;
}

.shift_down {
  margin-top: 50%;
}

.align_right {
  float: right;
}

.padding_top {
  padding-top: 10%;
}

.blog_entry {
  
}

@media screen and (max-width: 500px){

    .two_column_grid {
        grid-template-areas:
        'left-side left-side left-side left-side left-side left-side'
        'left-side left-side left-side left-side left-side left-side'
        'right-side right-side right-side right-side right-side right-side'
        'right-side right-side right-side right-side right-side right-side';
    }

    .contact_menu {
        float: none;
        margin: auto;
    }

    .home_page_pic {
        display: none;
    }

    .shift_down {
      margin-top: 0;
    }

    .floating_item {
      width: 80%;
      padding-left: 0;
      padding-right: 0;
      float: left;
    }

    .two_col_left_col {
        grid-area: left-side;
        float: center;
    }

    .two_col_right_col {
        grid-area: right-side;
        float: center;
    }

    img {
      height: 80px;
    }



}
