body
{
    margin: 0;
    padding: 0;
    background: white;
    font-family: sans-serif;
    font-weight: lighter;
}


.home_page
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.contact_menu
{
    width: 50%;
    float: left;
}

.image
{
    width: 50%;
    float:left;
}

li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14pt;
    padding: 0 20%;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF2102 ;
    transition: width .3s;
}

.link:hover::after{
    width: 100%;
    transition:width .3s;
}

.title{
    font-weight: bold;
    margin-bottom: 5px;
}