/* Global  */

body {
    /* background-color: lightsalmon; */
    padding: 0;
    margin: 0;
    color: #262626;
    /* background-image: url("images/bulgaria.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto; */
}

body #container {
    /* background-color: lightseagreen; */
    padding: 0;
    margin: 0;
}

*, html {
    font-family: "Avenir-Black" ,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #262626;
}

a {
    color: #262626;
}

h1 {
    font-size: 48pt;
    color: #262626;
}

h2 {
    font-size: 24pt;
    color: #262626;
}

h3 {
    font-size: 14pt;
    color: #262626;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.container {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 40pt;
    }
}


/* Header  */

#global-header {
    margin: auto;
    max-width: 82.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

#global-header .container {
}

#global-header .container .header-flex-wrapper {
    display: flex;
}

#global-header .container .header-flex-wrapper .logo {
    width: 50vw;
    font-size: 50pt;
}

#global-header .container .header-flex-wrapper .logo a {
    text-decoration: none;
}

#global-header .container .header-flex-wrapper nav {
    width: 50vw;
}

#global-header .container .header-flex-wrapper nav ul {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 -2rem -.5rem;
    padding: 0;
    top: -.6rem;
}

#global-header .container .header-flex-wrapper nav ul li {
    padding: .4375rem 2rem .5625rem;
}

#global-header .container .header-flex-wrapper nav ul li a {
    text-decoration: none;
}

#global-header .container .header-flex-wrapper nav ul li a:hover {
    opacity: 70%;
    transition: .3s;
}

@media only screen and (max-width: 700px) {

    #global-header {
        padding-bottom: 100px;
    }

    #global-header .container .header-flex-wrapper {
        flex-wrap: wrap-reverse;
    }

    #global-header .container .header-flex-wrapper .logo {
        width: 100vw;
        font-size: 30pt;
    }

    #global-header .container .header-flex-wrapper nav {
        width: 100vw;
    }

    #global-header .container .header-flex-wrapper nav ul {
        margin: 0;
    }

    #global-header .container .header-flex-wrapper nav ul li {
        /* padding: .4375rem 2rem .5625rem; */
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Content */

#content {
    margin: auto;
    max-width: 82.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

#content .homepage-projects {

}

#content .homepage-projects .container {

}

#content .homepage-projects .container .wrapper {
    display: flex;
    flex-wrap: nowrap;
}

#content .homepage-projects .homepage-projects-list-wrapper {
    width: 60vw;
}

#content .homepage-projects .homepage-projects-list-wrapper .section-title{
    color: #757575;
}

#content .homepage-projects .homepage-projects-list-wrapper ul {
    list-style-type: none;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li {
    padding-bottom: 40px;
    width:auto;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title {
    text-decoration: none;
    font-size: 32pt;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li  .homepage-hero-image{
    width: 35vw;
    height: 0;
    margin-left: 50vw;
    bottom: 10vh;
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li .bg{
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    pointer-events: none;
    display: block;
    background-color: white;
    opacity: 0;

}

#content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title:hover {
    text-decoration: underline;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title:hover ~ p {
}

#content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title:hover + .homepage-hero-image {
    background-size: contain;
    position: fixed;
    height: 35vw;
    opacity: 1;
    /* z-index: 1; */
}

#content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title:hover ~ .bg {
    opacity: 1;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li p {
    font-size: 12pt;
    font-family: "Avenir-Book", sans-serif;
    color: #757575;
    margin-top: 5px;
    transition: 0.3s;
}

#content .homepage-projects .homepage-projects-list-wrapper ul li a {

}

#content .homepage-projects .homepage-about-wrapper {
    width: 40vw;
    z-index: -3;
}

#content .homepage-projects .homepage-about-wrapper .homepage-projects-tagline-wrapper {

}

#content .homepage-projects .homepage-about-wrapper .homepage-projects-text-wrapper {
    padding-left: 100px;
}

#content .homepage-projects .homepage-about-wrapper .homepage-projects-text-wrapper ul {
    list-style-type: none;
    padding: 0;
}

#content .homepage-projects .homepage-about-wrapper .homepage-projects-text-wrapper ul li{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content .homepage-projects .homepage-about-wrapper .homepage-projects-text-wrapper ul li a {
    color: #757575;
    text-decoration: none;
    border-bottom: 2px solid;
    font-family: "Avenir-Book", sans-serif;
    font-size: 12pt;
}

@media only screen and (max-width: 700px) {

    #content .homepage-projects .container .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #content .homepage-projects .homepage-projects-list-wrapper {
        width: 100vw;
    }

    #content .homepage-projects .homepage-about-wrapper {
        width: 100vw;
    }

    #content .homepage-projects .homepage-projects-list-wrapper ul li .projects-list-item-title {
        font-size: 24pt;
    }

}

/* Footer */

#global-footer {
    background: #262626;
    padding: 3.125rem 0;
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
    margin-top: 6.25rem;
}

#global-footer .container {
    max-width: 82.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

#global-footer h2 {
    color: white;
}

#global-footer a {
    color: white;
}

#global-footer ul li {
    padding: .4375rem 2rem .5625rem;
}

#global-footer ul {
    list-style-type: none;
}
